<a href="https://colab.research.google.com/github/KOU20112006/HAU1/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8 , 9, 10)
new_numbers = " ".join(map(str, numbers))
print(new_numbers)

1 2 3 4 5 6 7 8 9 10

In [2]:
for numbers in range(1, 10):
    print(numbers, end=" ")

1 2 3 4 5 6 7 8 9

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8 , 9, 10]
print("\nFirst element:", numbers[0])
numbers[1] = 10
print(numbers)
if 5 in numbers:
    print("5 is in the list.")
else:
    print("5 is not in the list.")

First element: 1
[1, 10, 3, 4, 5, 6, 7, 8, 9, 10]
5 is in the list.

In [21]:
with open("numbers.txt", "w") as file:
    file.write("11")

In [22]:
with open("numbers.txt", "r") as file:
    numbers = file.read()
    print(numbers)

11